.footer {
  background-color: $white;
  min-height: 317px;

  @media (max-width: 1023px) {
    min-height: 457px;
  }

  @media (max-width: 767px) {
    min-height: 536px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
  padding: 0 20px;

  @media (max-width: 1023px) {
    margin: 0;
  }

  @media (max-width: 767px) {
    margin: 46px 0 0 0;
  }
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer a {
  display: block;
  text-decoration: none;
}

.footer__list-group {
  display: flex;
  flex-wrap: nowrap;
  padding: 65px 0 55px 0;
  border: none;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;

  @media (max-width: 1023px) {
    flex-direction: row;
    border-bottom: 1px solid rgba($footer-list-border, 0.2%);
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (max-width: 767px) {
    width: 100%;
    flex-direction: column;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
  align-items: flex-start;
  max-width: 216px;
  gap: 54px;

  @media (max-width: 1023px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 19px 37px 26px 25px;
    min-height: 97px;
    gap: 20px;
    border-bottom: 1px solid rgba($footer-list-border, 0.2%);
    max-width: 100%;
    width: 100%;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 0 0 54px;
  }
}

.footer__list-item {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  &:not(:last-child) {
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  & svg {
    fill: $footer-link-back;

    &:hover {
      fill: $light-blue;
    }

    &:active {
      fill: $footer-link-back;
    }
  }
}

.footer__list-item--hidden {
  display: none;

  @media (max-width: 1023px) {
    display: flex;
  }
}

.footer__logo {
  position: relative;
  color: $white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 202px;
  height: 52px;

  &::before {
    content: '';
    width: 52px;
    height: 52px;
    display: block;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 52px 52px;
    position: absolute;
    top: 2px;
    left: 0;

    @media (max-width: 767px) {
      top: 0;
    }
  }
}

.footer__logo-span {
  display: inline;
  margin-left: 68px;
}

.footer__logo-span--top {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: $footer-logo;
  line-height: 29px;
}

.footer__logo-span--bottom {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $light-grey;
}

.footer__list-item p {
  font-family: 'PT Mono', 'Arial', sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: rgba($footer-text, 0.5%);
  margin: 0;
  padding: 0 20px;
}

.footer__list-link {
  position: relative;
  width: 27px;
  height: 27px;
  border-radius: 100%;
}

.footer__list-nav {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  max-width: 516px;
  width: 100%;
  padding-left: 100px;
  margin: 0;

  @media (max-width: 1023px) {
    border: none;
    padding: 11px 0 0 0;
    flex-basis: 50%;
  }

  @media (max-width: 767px) {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid rgba($footer-list-border, 0.2%);
    padding: 0 15px;
    margin-bottom: 1px;
  }
}

.footer__list-nav-item-head {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__list-drop-down--hidden > ul {
  display: none;
}

.footer__drop-down-btn {
  width: 100%;
  padding: 0;
  cursor: pointer;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $background;
  background-color: $white;
  min-height: 73px;
  text-align: left;
  border: none;

  &::after {
    display: none;

    @media (max-width: 767px) {
      content: '';
      width: 16px;
      height: 16px;
      display: block;
      background-image: url('../img/open.svg');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 29px;
      right: 2px;
    }
  }
}

.footer__drop-down-btn--close {
  &::after {
    display: none;

    @media (max-width: 767px) {
      content: '';
      width: 16px;
      height: 16px;
      display: block;
      background-image: url('../img/close.svg');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 29px;
      right: 2px;
    }
  }
}

.footer__drop-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 25px;

  @media (max-width: 1439px) {
    flex-direction: column;
  }
}

.footer__list-nav-link {
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: rgba($background, 00.5%);

  &:hover {
    color: $light-blue;
  }

  &:active {
    color: rgba($background, 00.5%);
  }
}

.footer__list-address {
  flex-basis: auto;
  max-width: 333px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    border: none;
    padding: 10px 27px 0 24px;
    flex-basis: 50%;
  }

  @media (max-width: 767px) {
    border-bottom: 1px solid rgba($footer-list-border, 0.2%);
    padding: 0 15px;
    max-width: 100%;
  }
}

.footer__list-address-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__list-address-drop-down {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  gap: 10px;

  @media (max-width: 1023px) {
    padding: 0 0 25px;
  }
}

.footer__list-address-drop-down p {
  font-style: normal;
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: rgba($background, 0.5%);
  margin: 0;
  padding: 0;

  @media (max-width: 1023px) {
    padding: 0;
  }

  @media (max-width: 767px) {
    padding: 0 33px 0 0;
  }
}

.footer__list-address-link {
  font-style: normal;
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: rgba($background, 0.5%);

  &:hover {
    color: $light-blue;
  }

  &:active {
    color: $background;
  }
}

.footer__сopyright {
  width: 100%;
  border-top: 1px solid rgba($footer-list-border, 0.2%);

  @media (max-width: 1023px) {
    border: none;
  }
}

.footer__list-сopyright-wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.footer__list-сopyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 21px 0 24px;

  @media (max-width: 1023px) {
    padding: 30px 27px 24px;
    min-height: 69px;
  }

  @media (max-width: 767px) {
    padding: 28px 15px 26px;
    min-height: 123px;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
}

.footer__list-сopyright-item {
  color: rgba($background, 0.5%);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-family: 'PT Mono', 'Arial', sans-serif;
  text-transform: uppercase;
}

.footer__list-сopyright-item a {
  color: rgba($background, 0.5%);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-family: 'PT Mono', 'Arial', sans-serif;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $light-blue;
  }

  &:active {
    color: rgba($background, 0.5%);
  }
}

.footer__list-сopyright-item--hidden {
  display: block;

  @media (max-width: 1023px) {
    display: none;
  }
}
