.form {
  min-height: 670px;
  background-image: url('../img/form-back.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 670px;
  padding: 0 0 20px 0;
  background-color: $light-blue;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/form-back@2x.png');
    background-size: 1920px 765px;
  }

  @media (max-width: 1023px) {
    min-height: 664px;
    background-image: none;
  }

  @media (max-width: 767px) {
    min-height: 640px;
  }
}

.form__wrapper {
  max-width: 1170px;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0 auto;

  @media (max-width: 1220px) {
    padding: 0 20px;
  }

  @media (max-width: 1023px) {
    padding: 0;
    max-width: 590px;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    padding: 0 15px;
    margin: 0 auto;
    min-height: 320px;
    width: 100%;
  }
}

.form__flex-box {
  width: 100%;
  max-width: 570px;

  @media (max-width: 1023px) {
    max-width: 590px;
  }
}

.form__flex-box h2 {
  font-size: 36px;
  line-height: 51px;
  margin: 91px 0 9px 0;
  color: $white;
  font-style: normal;
  font-weight: normal;


  @media (max-width: 1023px) {
    padding: 83px 0 0 0;
    margin: 0 0 12px 0;
    font-size: 32px;
  }

  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 140.62%;
    margin: 0 0 12px 0;
    padding: 33px 0 0 0;
  }
}

.form__flex-box p {
  margin: 0 0 50px 0;
  padding: 0;
  color: $white;
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: 1023px) {
    margin: 0 0 51px;
  }

  @media (max-width: 767px) {
    margin: 0 0 25px 0;
    padding: 0;
  }
}

.form__main-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.form__input-name {
  max-width: 270px;
  width: 100%;

  @media (max-width: 1023px) {
    max-width: 279px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.form__input-name input {
  outline: none;
  width: 100%;
  min-height: 52px;
  padding: 0 17px;
  background-color: rgba($white, 0.1%);
  color: $white;
  border: none;
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  &::placeholder {
    color: $white;
    font-family: 'PT Mono', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  &:focus {
    border: 2px solid $white;
    padding: 0 15px;
  }

  &:hover {
    padding: 0 15px;
    border: 2px solid $white;
  }
}

.form__input-tel {
  max-width: 270px;
  width: 100%;

  @media (max-width: 1023px) {
    max-width: 279px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.form__input-tel input {
  outline: none;
  width: 100%;
  min-height: 52px;
  padding: 0 17px;
  background-color: rgba($white, 0.1%);
  color: $white;
  border: none;
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  &::placeholder {
    color: $white;
    font-family: 'PT Mono', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  &:focus {
    border: 2px solid $white;
    padding: 0 15px;
  }

  &:hover {
    padding: 0 15px;
    border: 2px solid $white;
  }
}

.form__input-textarea {
  width: 100%;
}

.form__input-textarea textarea {
  outline: none;
  width: 100%;
  height: 159px;
  padding: 15px 17px;
  background-color: rgba($white, 0.1%);
  color: $white;
  border: none;
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  &::placeholder {
    color: $white;
    font-family: 'PT Mono', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }

  &:focus {
    border: 2px solid $white;
    padding: 13px 15px;
  }

  &:hover {
    padding: 13px 15px;
    border: 2px solid $white;
  }

  @media (max-width: 767px) {
    height: 104px;
  }
}

.form__bottom-group {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-top: 44px;

  @media (max-width: 767px) {
    flex-direction: column;
    margin-top: 30px;
  }
}

.form__btn {
  cursor: pointer;
  background-color: $light-blue;
  border-radius: 5px;
  border: 1px solid $white;
  padding: 0 20px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  max-width: 270px;
  width: 100%;

  &:hover {
    background-color: $white;
    color: $light-blue;
  }

  &:active {
    background-color: $light-blue;
    color: $white;
  }

  @media (max-width: 1023px) {
    width: 100%;
    max-width: 279px;
  }

  @media (max-width: 767px) {
    max-width: 290px;
    margin: 0 auto;
  }
}

.form__checkbox {
  display: block;
  cursor: pointer;
  position: relative;
  color: $white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding: 0 0 0 31px;
  font-family: 'PT Mono', 'Arial', sans-serif;
  max-width: 262px;
  width: 100%;

  &::before {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    background-color: $light-blue;
    border: 1px solid $white;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:focus {
    outline: 1px solid yellow;
  }

  @media (max-width: 1023px) {
    max-width: 272px;
  }

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.form__checkbox-wrapper {
  position: relative;
}

.form__bottom-group input:checked + label::before {
  content: '';
  width: 18px;
  height: 18px;
  display: block;
  background-color: $light-blue;
  border: 1px solid $white;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url('../img/check.svg');
  background-repeat: no-repeat;
  background-position: center;
}
