.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__nav {
  width: 100%;
  max-width: 1415px;
  padding: 0;
  min-height: 118px;
  margin: 0 auto;
  display: flex;

  @media (max-width: 1023px) {
    padding: 0 25px;
    min-height: 92px;
  }

  @media (max-width: 767px) {
    min-height: 72px;
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (max-width: 1439px) {
    padding: 0 20px;
  }
}

.header__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__logo {
  position: relative;
  color: $white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 202px;
  height: 52px;
  margin-top: 13px;

  &::before {
    background-size: 52px 52px;
    width: 52px;
    height: 52px;
    top: -7px;
    content: '';
    display: block;
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;

    @media (max-width: 767px) {
      background-size: 38px 38px;
      width: 38px;
      height: 38px;
      top: 0;
    }
  }

  @media (max-width: 767px) {
    width: 38px;
    height: 38px;
    margin: 0;
  }
}

.header__logo-span {
  display: inline;
  margin-left: 68px;

  @media (max-width: 767px) {
    display: none;
  }
}

.header__logo-span--top {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}

.header__logo-span--bottom {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $light-grey;
}

.header__list-contacts {
  gap: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    gap: 23px;
    margin: 0 12px 1px 0;
  }

  @media (max-width: 767px) {
    margin: 0 -5px 1px 0;
  }
}

.header__list-contacts-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &:not(:last-child) {
    margin-right: 88px;
  }

  @media (max-width: 1023px) {
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

.header__list-contacts-item--hidden {
  display: flex;

  @media (max-width: 1023px) {
    display: none;
  }
}

.header__list-contacts-mail {
  position: relative;
  display: flex;
  align-items: center;
  width: 96px;
  height: 18px;
  padding-left: 39px;
  background-color: transparent;
  color: $white;
  text-decoration: none;

  &:hover span {
    color: $light-blue;
  }

  &:active span {
    color: grey;
  }

  &::before {
    width: 19px;
    height: 14px;
    top: 2px;
    background-size: 19px 14px;
    content: '';
    display: block;
    background-image: url('../img/messadge.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 2px;
    left: 0;

    @media (max-width: 1023px) {
      width: 26px;
      height: 19px;
      top: 0;
      background-size: 26px 19px;
    }
  }

  @media (max-width: 1023px) {
    width: 26px;
    height: 19px;
    padding: 0;
  }
}

.header__list-contacts-mail span {
  display: inline;
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  @media (max-width: 1023px) {
    display: none;
  }
}

.header__list-contacts-tel {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  padding-left: 36px;
  height: 24px;
  background-color: transparent;
  color: $white;
  text-decoration: none;

  &:hover span {
    color: $light-blue;
  }

  &:active span {
    color: grey;
  }

  &::before {
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    background-image: url('../img/phone.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    position: absolute;
    top: 4px;
    left: 0;

    @media (max-width: 1023px) {
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
      top: 0;
    }
  }

  @media (max-width: 1023px) {
    width: 24px;
    padding: 0;
  }
}

.header__list-contacts-tel span {
  display: inline;
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;

  @media (max-width: 1023px) {
    display: none;
  }
}

.header__list-contacts-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  min-height: 45px;
  background-color: transparent;
  color: $white;
  text-transform: uppercase;
  border: 1px solid $white;
  border-radius: 5px;
  padding: 0 26px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;

  &:hover {
    color: $light-blue;
    background-color: $white;
  }

  &:active {
    color: $white;
    background-color: $light-blue;
  }
}
