.main-content {
  background-image: url('../img/back-main-block-desk.png'), url('../img/back-main-block-desk2.png');
  background-repeat: no-repeat;
  background-color: $background;
  background-size: 705px 515px, cover;
  background-position: 85% 256px, center;
  min-height: 878px;

  @media (min-resolution: 2dppx) {
    background-image: url('../img/back-main-block-desk@2x.png'), url('../img/back-main-block-desk2@2x.png');
  }

  @media (max-width: 1023px) {
    min-height: 686px;
    background-image: url('../img/back-main-block-tablet.png'), url('../img/back-main-block-tablet2.jpg');
    background-position: right 113px, center;
    background-size: 260px 340px, cover;

    @media (min-resolution: 2dppx) {
      background-image: url('../img/back-main-block-tablet@2x.png'), url('../img/back-main-block-tablet2@2x.jpg');
      }
  }

  @media (max-width: 767px) {
    min-height: 647px;
    background-image: url('../img/back-main-block-mob.png'), url('../img/back-main-block-mob2.jpg');
    background-position: center 92px, center;
    background-size: 301px 220px, cover;

    @media (min-resolution: 2dppx) {
      background-image: url('../img/back-main-block-mob@2x.png'), url('../img/back-main-block-mob2@2x.jpg');
    }
  }
}

.main-content__container {
  width: 100%;
  max-width: 1411px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (max-width: 1439px) {
    padding: 0 20px;
  }

  @media (max-width: 1023px) {
    padding: 0;
  }

}

.main-content__scrool-link {
  text-decoration: none;
  color: rgba($white, 0.5%);
  transform: rotate(270deg);
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  z-index: 9;
  display: inline;
  position: absolute;
  bottom: -97px;
  left: -20px;

  @media (max-width: 1023px) {
    display: none;
  }
}

.main-content__container h1 {
  padding: 316px 0 0 0;
  margin: 0;
  font-size: 80px;
  line-height: 94px;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;

  @media (max-width: 1023px) {
    padding: 188px 180px 0 88px;
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: 767px) {
    padding: 286px 15px 0;
    font-size: 40px;
    line-height: 47px;
  }
}

.main-content__container p {
  font-size: 22px;
  line-height: 34px;
  margin: 31px 0 0;
  padding: 0 700px 0 94px;
  position: relative;
  font-family: 'PT Mono', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: $white;

  &::before {
    content: '';
    width: 66px;
    height: 2px;
    display: block;
    background-color: $white;
    position: absolute;
    top: 12px;
    left: 0;

    @media (max-width: 1023px) {
      left: 0;
      top: 12px;
      width: 33px;
    }

    @media (max-width: 767px) {
      width: 33px;
      top: 12px;
      left: 18px;
    }
  }

  @media (max-width: 1439px) {
    padding: 0 300px 0 94px;
  }

  @media (max-width: 1023px) {
    padding: 0 200px 0 48px;
    margin: 32px 0 0 88px;
    font-size: 18px;
  }

  @media (max-width: 767px) {
    padding: 0 9px 0 66px;
    line-height: 156.8%;
    margin: 30px 0 0 0;
    font-size: 16px;
  }

}

.main-content__btn {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 17px 32px 0;
  color: $white;
  min-height: 55px;
  max-width: 407px;
  cursor: pointer;
  border-radius: 5px;
  border: none ;
  background-color: $light-blue;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 37px 0 0 93px;

  &:hover {
    color: $light-blue;
    background-color: $white;
  }

  &:active {
    color: $white;
    background-color: $light-blue;
  }

  @media (max-width: 1023px) {
    margin: 37px 57px 0 139px;
    max-width: 379px;
  }

  @media (max-width: 767px) {
    margin: 42px 0 0 18px;
    padding: 17px 10px;
    max-width: 287px;
    width: 100%;
  }
}

.main-content__btn span {
  display: inline;

  @media (max-width: 1023px) {
    display: none;
  }
}
