.services-card {
  background-color: $background;
  min-height: 938px;

  @media (max-width: 1023px) {
    min-height: 1127px;
  }

  @media (max-width: 767px) {
    min-height: 1101px;
  }
}

.services-card__wrapper {
  @media (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
  }

  @media (min-width: 1170px) {
    padding: 0;
  }
}

.services-card__wrapper h2 {
  padding: 93px 0 47px;
  margin: 0;
  color: $white;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: 1023px) {
    font-size: 32px;
    padding: 53px 132px 0 25px;
    margin: 0 0 49px;
    line-height: 140.62%;
  }

  @media (max-width: 767px) {
    line-height: 140.62%;
    font-size: 28px;
    margin: 0 0 37px;
    padding: 53px 15px 0 25px;
  }
}

.services-card__list {
  flex-direction: row;
  padding: 0;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    padding: 0 26px;
    gap: 0;
    flex-direction: column;
  }

  @media (max-width: 767px) {
    margin: 0;
    padding: 0 15px 64px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.services-card__item {
  &:not(:last-child) {
    margin: 0;

    @media (max-width: 1023px) {
      margin-bottom: 47px;
    }

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.services-card__item a {
  width: 308px;
  min-height: 620px;
  position: relative;
  display: block;

  &::after {
    content: '';
    width: 63px;
    height: 63px;
    display: block;
    background-color: $light-blue;
    background-image: url('../img/arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &:hover {
    border: 2px solid $light-blue;
  }

  @media (max-width: 1023px) {
    width: 100%;
    min-height: 256px;
  }

  @media (min-width: 1170px) {
    width: 370px;
  }
}

.services-card__item a > span {
  position: absolute;
  top: 53px;
  left: 43px;
  color: $white;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: 1023px) {
    top: 41px;
    left: 43px;
  }

  @media (max-width: 767px) {
    top: 23px;
    left: 35px;
  }
}

.services-card__link-img-wrapper img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
