$white: #ffffff;
$black: #000000;
$background: #1B2D37;
$light-blue: #00B2FF;
$light-grey: #788891;
$grey: #EBEBEB;
$light-blue: #00B2FF;
$dark-grey: #666666;
$footer-logo: #203C42;
$footer-list-border: #626962;
$footer-text: #1B2D37;
$footer-link-back: #CDCDCD;
